/* Home.css */

.home-container {
    display: flex;
  }
  
  .column-left {
    flex: 1;
    box-sizing: border-box;
  }
  
  .centered {
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    height: 100%;
  }

  .column-left h1 {
    color: #F0B801;
  }
  
  .custom-paragraph {
    color: #1E1E1E;
  }

  .custom-button {
    padding: 8px 15px;
    font-size: 20px;
    color: rgb(247, 210, 0);
    border: 1px solid; /* Added 'px' and 'solid' to define border style */
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 90px;
    background-color: transparent;
  }
  
  .custom-button:hover {
    background-color: rgba(76, 175, 80, 0.3);
  }

  .column-right {
    flex: 1;
    box-sizing: border-box;
  }
  
  .column-right img {
    padding: 20px;
    width: 50%; /* Ensure the image takes the full width of its container */
  }
  