/* wedo.css */

.container-wedo {
    background-color: rgb(250, 250, 0);
    padding: 20px;
  }
  
  .title {
    text-align: center;
  }
  
  .subtitle {
    text-align: center;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
    margin-right: 75px;
    margin-left: 75px;
  }
  
  .column-wedo1,
  .column-wedo2,
  .column-wedo3,
  .column-wedo4,
  .column-wedo5,
  .column-wedo6,
  .column-wedo7,
  .column-wedo8,
  .column-wedo9,
  .column-wedo10 {
    flex: 1;
    max-width: 300px;
    margin: 20px;
  }
  
  .card1,
  .card2,
  .card3,
  .card4,
  .card5,
  .card6,
  .card7,
  .card8,
  .card9,
  .card10 {
    background-color: rgb(250, 250, 0);
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Specific styles for each card */
  .card1 h3 {
    color: #3498db;
  }
  
  .card2 h3 {
    color: #e74c3c;
  }
  
  .card3 h3 {
    color: #2ecc71;
  }
  
  .card4 h3 {
    color: #f39c12;
  }
  
  .card5 h3 {
    color: #9b59b6;
  }
  
  .card6 h3 {
    color: #1abc9c;
  }
  
  .card7 h3 {
    color: #e67e22;
  }
  
  .card8 h3 {
    color: #34495e;
  }
  
  .card9 h3 {
    color: #d35400;
  }
  
  .card10 h3 {
    color: #c0392b;
  }
  